@import './variables.css';

body {
  background-color: var(--background);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Pacifico', sans-serif;
}

h1, h2, h3 {
  color: var(--titles);
}

a {
  color: var(--links);
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border-radius: 8px;
  border: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: 1px solid var(--button-bg);
}

.title {
  font-family: 'Playwrite HU', serif;
  color: var(--heading);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
